html{
    background: #f6f6f6;
}

body {
    display: block;
    width: 50vw;
    height: 80vh;
    margin: 5vh auto;
    font-family: Consolas,monaco,monospace;
    font-size: 14px;
    color: #181818;
    border: 1px solid #303030;
    padding: 10px;
}

h1{
    padding-left: 15px;
}

a {
    color: #00B7FF;
}

ul {
    list-style: none;
    padding-left: 20px;
}


#sendmessagelink{
    display: block;
    margin-top: 20px;
    margin-left: auto;
    border: 1px solid #303030;
    padding: 15px;
    width: 150px;
    text-align: center;
    color: #eab122;
    text-decoration: none;
    font-weight: 900;
}

#sendmessagelink:hover{
    text-decoration: underline;
}

.textcontent{
    display: flex;
    flex-direction: column;
    justify-content: end;
    height:100%;
}

.filler{
    flex-grow: 1;
    height: 10px;
}

.formdiv{
    padding: 20px;
}

form{
    display: flex;
    padding:10px;
    gap: 10px;
    align-items: center;
}

input#message{
    width: 100%;
}

input[type="submit"]{
    border: 1px solid #303030;
    color: #eab122;
    text-decoration: none;
    font-weight: 900;
    background: none;
    min-width: 80px;
    height: 30px;
}

input[type="submit"]:hover{
    cursor: pointer;
    text-decoration: underline;
}

input{
    border: 1px solid #303030;
    height: 25px;
}

